[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
#numpy = "*"
tensorflow-gpu = "==1.11.0"
gym = "==0.10.9"
keras = "==2.2.4"
pyyaml = "*"
#scipy = "*"
tqdm = "*"
keras-tqdm = "*"
pandas = "*"
matplotlib = "*"
argparse = "*"
"box2d-py" = "*"
pyglet = "==1.3.3"
pyvirtualdisplay = "*"
scikit-image = "==0.14.3"
deepdish = "*"
#seaborn = "*"

[requires]
python_version = "2.7"
